footer {
    background-color: #002d5e;
    width: 100%;
    
  }
  footer .logofooter{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
  
      img{
          width: 260px;
      }
  }
  footer .sect-footer{
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
      max-width: 600px;
      border-top:  2px solid #ffffff;
  }
  footer .sect-footer .box-footer{
      max-width: 250px;
      margin-left: 35px;
      h3{
          color: #fec90a;
          margin-bottom: 10px;
      }
      p{
        color: #ffffff;
      }
  }
  
  .sect-footer .box-footer a{
      
          display: block;
          color: #ffffff;
          margin-bottom: 10px;
          transition: 0.5s;
  }
  .sect-footer .box-footer a:hover{
      color: var(--cor3);
  }
  
  .box-footer .redes-footer a{
          display: inline;
  }
  .box-footer .redes-footer button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 1.2em;
      background-color: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      cursor: pointer;
      margin-right: 5px;
  }
  .box-footer .redes-footer button:hover{
      background-color: var(--cor3);
      color: var(--cor1);
      transition: .5s;
  }
  
  .sect {
    opacity: 0;
    filter: blur(1px);
    transition: all 2s;
    transform: translateX(-100%);
  }
  .sect1 {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
  }
  