@media (min-width: 768px) {
    section.Compromisso {
        .container{
            flex-flow: row nowrap;
        }
        .item{
            height: 500px;
        }
    }
}
   

@media (min-width: 1024px) {
    .item{
        width: 251px;
        
    }
    .container{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}