@media (min-width: 768px) {
    article {
        background-image: url(../img/pacoteimg.png);
    }
    section.Compromisso {
        .container{
            flex-flow: row nowrap;
        }
        .item{
            height: 500px;
        }
    }
    main.main-servicos{
        img{
            width: 650px;
        }
        a{
            width: 150px;
         }
    }
}
   

@media (min-width: 1024px) {
    .item{
        width: 251px;
        
    }
    .container{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    main{
        .servicos{ a{
            text-align: center;
            color: #feca0a;
            font-weight: bold;
            background-color: #002d5e;
            width: 150px;
            margin: auto;
            padding: 15px;
            border-radius: 15px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
    }
    .main-servicos{
        img {
            width: 650px;
        }
        a{
           width: 150px;
        }
    }
}