@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

:root {
  --cor1: #002d5e;
  --cor2: #231f20;
  --cor3: #feca0a;
  --font: "New Amsterdam", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html {
  background-color: white;
  color: #000000;
  height: 100dvh;
}



article {
  text-align: center;
  background-color: #fec90a;
  background-size: cover;
  background-position: 55%;
  color: #000000;
  font-family: "New Amsterdam", sans-serif;
  padding: 15px;
  width: 70%;
  height: 250px; 
  margin: auto;
  bottom: 20px;
  border-radius: 7px;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  h1 {
    font-size: 2em;
    color: #fff;
    margin-right: 60px;
  }
  h2 {
    color: #002d5e;
    font-size: 2em;
  }
  p {
    margin-top: 10px;
    color: #002d5e;
  }
}

main{
  max-width: 90%;
  padding: 10px;
  font-size: 1.1em;
  margin: 0 auto;
}

main h1{
    padding: 5px;
    margin-top: 50px;
    font-size: 1.6em;
    color: var(--cor1);
}

main p{
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 950px;
    line-height: 30px;
    hyphens: auto;
    text-indent: 10px;
}
section h1{
  margin-bottom: 25px;
}
.servicos-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.box-container{
  background-color: #002d5eda;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
}
.box-container h2{
  color: var(--cor3);
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.box-container p{
  color: #fff;
  text-align: center;
}
/* respon-servicos-container */

@media (min-width: 768px){
  .servicos-container{
    flex-direction: row;
  }
  .box-container{
    margin-right: 5px;
  }
}
