@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family:"Outfit", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;

}

.cabecalho {
    background-color:hsl(209, 98%, 64%);
    padding: 10px 20px; /* Diminui o padding para reduzir a área cinza */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cabecalho h1 {
    font-size: 24px;
    margin: 0; /* Remover margem extra ao redor do título */
}

nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none; /* Remover os marcadores da lista */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Alinhar itens da lista lado a lado */
    margin-right: 10px; /* Adiciona espaçamento entre os itens */
}

nav a {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; /* Remover sublinhado */
}

nav a:hover {
    color: black;
}

main {
    background: url(../imagens/zhang-fengsheng-gUKv_yrQ_tk-unsplash.jpg);
    background-repeat: no-repeat center center;
    background-size: cover;
    min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
    padding: 20px;
    color: #fff;
    text-align: center;
}

main .sobre {
    text-align: justify;
    line-height: 1.3;
    margin: 20px auto;
    font-size: 18px;
    max-width: 800px;
}

.nome-empresa {
    font-size: 60px;
}

.complemento {
    font-size: 30px;
}
.tipo-servicos{
    text-decoration: none;
    list-style: none;
}
.servicos ul{
    text-decoration: none;
    list-style: none;
    display:flex;
    justify-content: center;
    
}
.imagem-servicos{
    margin-right: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

  .nome-servicos{
    font-size: 70px;
    text-align: center;
    padding-bottom: 100px;
  }
  .nome{
    text-align: center;
    font-size: 20px;
    padding: 15px 10px 15px;
  }
 
  .img-comple{
    height:200px;
  }